@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
:root {
  --bg-color: white;
  --text-color: black;
}


.dark {
  --bg-color: #121212;
  --text-color: #eee;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #eee;
  }
} */

.nav-input svg{
  color: white;
  font-size: 23px;
}

